.container {
    margin: 50px auto;
    width: 300px;
    border-radius: 6px; 
    border: 1px solid #364f6a;
    background-color: whitesmoke;

    border-radius: 8px;
    box-shadow: inset 0 0 0px 0 #5d5151, 0 1px 3px #1c0101f3;
    background: rgba(180, 193, 204, 0.328);
    border: 1px #5c4d4df3;
}